* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

*:focus {
    outline: none;
}

body {
    margin-top: 120px;
    background: white;
}

.btn-secondary {
    display: inline-block;
    text-decoration: none;
    letter-spacing: var(--mainSpacing);
    color: black;
    font-weight: bold;
    background: plum;
    padding: 0.4rem 0.9rem;
    border: 2px solid black;
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background: blueviolet !important;
    color: white;
}

.btn-center {
    text-align: center;
    margin: 4rem;
}

.error {
    text-align: center;
    text-transform: uppercase;
    margin: 2rem 0;
}

.loading {
    text-transform: capitalize;
    text-align: center;
    margin: 1rem auto;
}

.empty-search {
    text-align: center;
    text-transform: capitalize;
    margin: 2rem 0;
    padding: 1rem;
    letter-spacing: var(--mainSpacing);
}

.section-title {
    text-align: center;
    margin: auto 2rem;
    margin-top: 2rem;
}

.section-title h1 {
    letter-spacing: var(--mainSpacing);
    text-transform: capitalize;
    margin-bottom: 1rem;
}

.section-title div {
    width: 10rem;
    height: 5px;
    margin: 0 auto;
    background: var(--primaryColor);
}

@media(max-width: 700px) {
    body {
        margin-top: 115px;
    }
}

.react-confirm-alert {
    background: cyan;
    box-shadow: 2px 2px 20px 2px grey;
    border-radius: 1rem !important;
}

.react-confirm-alert-body {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 1rem !important;
    background: cyan !important;
    color: black !important;
}

.react-confirm-alert-body * {
    text-align: center !important;
    color: black !important;
}

.react-confirm-alert-body h1 {
    font-size: 1.5rem !important;
    margin-bottom: 1rem;
}

.react-confirm-alert-button-group button {
    background: blue !important;
    color: white !important;
    margin: 0 1rem !important;
    width: 100px !important;
    font-size: 0.8rem !important;
    text-transform: uppercase !important;
}

@media(max-width: 500px) {
    .react-confirm-alert {
        max-width: 320px;
    }
    .react-confirm-alert-body {
        max-width: 320px;
    }
}